<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IT blog</title>
  {% load static %}
  <!--link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h1>{% include "mainApp/includes/some_html.html" %}</h1>
      {% block content %}
      {% endblock %}
      <p>
        <a href="/" class="btn btn-success btn-lg">Главная страница</a>
        <a href="/news" class="btn btn-primary btn-lg">Новости &raquo;</a>
        <a href="/contact" class="btn btn-info btn-lg">Контакты</a>
      </p>
    </div>
  </div>
  <div class="container">
    <hr>
    &copy; All rights reserved 2020
</body>
</html>