<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>




  
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"><title>Computer Vision.html</title></head><body style="background-image: url(file:///C:/back.jpg);">
<table style="text-align: left; height: 33px; width: 1116px; margin-left: 40px;" border="0" cellpadding="2" cellspacing="2">

  <tbody>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 369px;"><a href="Computer%20Vision.html"><big><big><span style="color: rgb(51, 255, 51);"><span style="font-weight: bold;">Главная</span></span></big></big></a><br>
      </td>
      <td style="vertical-align: top; text-align: center; width: 407px;"><big><big><span style="color: rgb(51, 255, 51);"><span style="font-weight: bold;">Статьи</span></span></big></big><br>
      </td>
      <td style="vertical-align: top; text-align: center; width: 312px;"><big><big><span style="color: rgb(51, 255, 51);"><span style="color: rgb(51, 255, 51);"><span style="font-weight: bold;">Регистрация</span></span></span></big></big><br>
      </td>
    </tr>
  </tbody>
</table>

<br>

<br>
</body></html>